[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
colorlog = "*"
asyncio = "*"
cffi = "*"
aiohttp = "*"
python-nmap = "*"
random-cat = "*"
pythonwhois = "*"
requests = "*"
"discord.py" = "*"
youtube_dl = "*"
PyNaCl = "*"
Pillow = "*"

[requires]
python_version = "3.5"
